<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/yixiang/IOS/我的博客/UI篇/03、实现一个侧动菜单SlidingMenu/IOSAnimationDemo/侧滑菜单/侧滑菜单.xcodeproj</string>
</dict>
</plist>
